.list-img {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 40px;


    .outfit-content {
        width: 20vw;

        img {
            width: 95%;
        }

        button {
            border: 1px solid #ccc;
            border-radius: 5px;
            color: #d61c1f;
            margin: 0 auto;

        }
    }
}


.slick-arrow {
    position: absolute;
    top: 35% !important;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}



.slick-prev:before {
    color: #bbbbbbf7 !important;
    margin-right: -100px;
    font-size: 50px !important;
}

.slick-prev:hover::before {
    color: rgb(184, 184, 184) !important;
}

.slick-next:before {
    color: #bbbbbbf7 !important;
    margin-left: -100px;
    font-size: 50px !important;
}

.slick-next:hover::before {
    color: rgb(184, 184, 184) !important;
}


@media (max-width: 576px) {
    .list-img {
        position: relative;
        overflow: hidden;
        padding-top: 20px;
        padding-bottom: 40px;


        .outfit-content {
            width: 100% !important;
            height: 85vw;

            img {
                width: 100%;
                height: 100%;
            }



        }
    }


}