.login-page {
    .form-login {
        width: 500px;
        height: 300px;

        .content-right {
            // border-radius: 10px;
            border: 1px solid grey;
            padding: 0 3rem 0 3rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);


        }
    }
}