.login-page {
    .form-login {
        width: 500px;
        height: 300px;

        form {
            height: 300px;
            margin-top: 10px;
            background-color: #ffffff;
            border: 1px solid black;


            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

            input {
                width: 400px;
                border: none;
                border-bottom: 1px solid #d7d7d7;
            }

            button {
                width: 200px;
                font-size: 20px;
                border: 1px solid black;
                background-color: black;
                color: white
            }
        }
    }
}