.product-details-page {
    .container {

        /* danh sách ảnh */
        .list-imgs-product {
            position: relative;
            overflow: hidden;
            padding-top: 20px;
            padding-bottom: 20px;

            img {
                max-width: 100%;
                height: 100%;
                background-color: #f7f7f7;
                padding: 5px;
                border: 1px solid #e0e0e0;
            }

            /* button điều hướng img */
            .prevBtn {
                background-color: transparent;
                position: absolute;
                top: -15px;
                left: 40%;
                font-size: 25px;
                border: none;

            }

            .nextBtn {
                background-color: transparent;
                position: absolute;
                bottom: -10px;
                left: 40%;
                font-size: 25px;
                border: none;
            }

        }

        .list-imgs-product-sm {
            height: 50vh;
            width: 100vw;
            position: relative;
            overflow: hidden;
            padding-top: 20px;
            padding-bottom: 30px;

            img {
                max-width: 100%;
                height: 100%;
                width: 100%;
            }

            /* button điều hướng img */
            .prevBtnMobile {
                background-color: transparent;
                position: absolute;
                top: 40%;
                left: 0;
                font-size: 50px;
                border: none;
                transform: rotate(-90deg);
                /* Xoay mũi tên lên */

            }

            .nextBtnMobile {
                background-color: transparent;
                position: absolute;
                top: 40%;
                right: 0;
                font-size: 50px;
                border: none;
                transform: rotate(-90deg);
                /* Xoay mũi tên lên */


            }

        }
    }

    .info-product {

        /* điểm đánh giá sản phẩm */
        .voteView {
            text-decoration: underline;
            font-weight: 500;
        }

        .vote {

            .star-point {
                margin-bottom: 5px;
            }
        }

        .product-price {
            font-size: 28px;
            font-weight: 500
        }

        /* danh sách màu quần áo*/
        .info-color-product {
            label {
                margin-right: 8px;
                background-color: #ffffff;
                border: 1px solid #d7d7d7;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                cursor: pointer;




            }

            .active {
                background-color: #0a0a0a;
            }

            .inactive {
                background-color: rgb(231, 230, 230);
            }


            img {
                height: 27px;
                width: 27px;
                margin-left: 3px;
                margin-top: 3px;
                border-radius: 100%;
            }
        }

        .size-product {
            .list-size-items {

                /* danh sách size */
                .size-items {
                    text-align: center;
                    min-width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    background: #ffffff;
                    border: 1px solid #d7d7d7;
                    line-height: 38px;
                    cursor: pointer;
                }

                .inactive {
                    background-color: rgb(231, 230, 230);
                }

                .active {
                    background-color: #b7b5b5;
                }
            }
        }

        /* số lượng muốn mua */
        .input-quantity {
            input {
                border: none;
                height: 40px;

                .minus-quantity {
                    width: 50px;
                }

                .plus-quantity {
                    width: 50px;
                }

            }
        }

        /* button yêu thích */
        .favourite {
            width: 250px;
            height: 40px;
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
        }

    }

    /* mô tả sản phẩm */
    .description-product {
        li {
            margin-top: 9px;
            list-style: none;
        }

        h1 {
            font-size: 20px;
        }
    }
}