.product-details-page {
    margin: 50px 100px 0 100px;

}

.nav-title {
    font-size: 14px;
    margin-left: -50px;
    margin-top: -38px;
    margin-bottom: 40px;
}


.list-imgs-product {
    height: 600px;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 40px;
}


.display-img-product img {
    max-width: 100%;
    height: 100%;

}

.list-imgs-product img {
    max-width: 100%;
    /* Đảm bảo ảnh không vượt quá chiều rộng của phần tử cha */
    height: 100%;
    /* Cho phép ảnh tự điều chỉnh chiều cao tương ứng với chiều rộng */
    background-color: #f7f7f7;
    padding: 5px;
    border: 1px solid #e0e0e0;
}


.prevBtn {
    background-color: transparent;
    position: absolute;
    top: -15px;
    left: 40%;
    font-size: 20px;
}

.nextBtn {
    background-color: transparent;
    position: absolute;
    bottom: -10px;
    left: 40%;
    font-size: 20px;

}

.voteView {
    text-decoration: underline;
    font-weight: 500;
}

.star-point {
    margin-bottom: 5px;
}

.sale {
    margin-left: 15px;
    color: #e01b22;
    font-weight: 600;
    font-size: 15px;
}

.size-items {
    text-align: center;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    line-height: 38px;
}

.info-color-product label {
    margin-right: 8px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.info-color-product img {
    height: 27px;
    width: 27px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 100%;
}


.input-quantity input {
    border: none;
    height: 40px;

}

.minus-quantity {
    width: 50px;
}

.plus-quantity {
    width: 50px;
}

.add-to-cart {
    width: 45%;
    min-height: 50px;
    background-color: black;
    font-size: 15px;
    color: white;
    margin-right: 10px;
}

.favourite {
    width: 250px;
    height: 40px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.description-product li {
    margin-top: 9px;
    list-style: none;
}

.description-product h1 {
    font-size: 20px;
}