.product-page {
    margin-top: 40px;
}

.content-left {
    border: 1px solid red;
    height: 600px;
}

.content-right {
    border: 1px solid green;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav li {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.form-select {
    width: 150px;
}


.topbar-product {
    margin: 30px 0 15px 0;
    padding: 15px;
    background-color: #f7f7f7;
}

.category {
    font-weight: 500;
    color: rgb(68, 182, 239);
}

.product-content {
    margin-bottom: 35px;
    width: 240px;
}

.slidecontainer {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.size-product {
    display: grid;
    grid-template-columns: auto auto;
}