.instruction-page p {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0.3rem;
    color: rgb(102, 102, 102);
}

.instruction-page img {
    width: 60vw;
    height: 35vw;
    margin: 20px 0;
}

.content-left-post {
    border: 1px solid red;
}

.content-right-post {
    border: 1px solid green;
    height: 400px;
}