.instruction-page {
    .content-left-post {
        p {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin-bottom: 0.3rem;
            color: rgb(102, 102, 102);
        }

        img {
            width: 60vw;
            height: 35vw;
            margin: 20px 0;
        }
    }
}