.container-announcement {
    margin-top: 40px;
}

.content-announcement {
    width: 25vw;
    height: 20vw;
    margin-bottom: 40px;

}

.content-announcement img {
    width: 25vw;
    height: 15vw;
    padding: 0 10px;
}

.content-announcement a {
    text-decoration-line: none;
    color: #000;
    font-weight: 400;
}

.description-announcement {
    font-weight: 300;
    margin-top: 10px;
}

.border-img {
    border: 1px solid gray;
    margin-bottom: 10px;
}