.announcement-page {
    .container-announcement {
        .content-announcement {
            width: 25vw;
            height: 20vw;

            .border-img {
                img {
                    width: 25vw;
                    height: 15vw;
                    padding: 0 10px;
                }
            }

            a {
                text-decoration-line: none;
                color: black;
                font-weight: 400;
            }
        }
    }
}